[submodule "src/libs/tinyxml2"]
	path = src/libs/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "src/libs/tinyobjloader"]
	path = src/libs/tinyobjloader
	url = git@github.com:syoyo/tinyobjloader.git
